body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.game-announcements {
    height: 150px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: cornflowerblue;
}

.game-stats {
    width: 200px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0 0 10px 0;
   
}

.game-stats-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-container {
    display: flex;
    flex-direction: row;
}

#player1 {
    background-color: wheat;
}

#player2 {
    background-color: tomato;
}


.player {
    height: 60vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#player-image, #computer-image {
    height: 250px;
    width: 250px;
}

.button-container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0 15px 0;
}

.game-controls {
    height: 100px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: cornflowerblue;
}